.lista{
    margin: 0 50px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.receita{
    padding: 0 15px;
    margin-bottom: 120px;
    align-items: center;
    text-align: center;
}
h1{
    margin: 104px 0 69px 120px;
}
h4{
    margin: 12px 0 47px 0;
}